[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.0.3"
flask-sqlalchemy = "*"
flask-migrate = "*"

[requires]
python_full_version = "3.8.13"

[dev-packages]
